@model IEnumerable<MVC.ViewModels.BrancheViewModel>

@{
    ViewData["Title"] = "Branches";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrancheName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrancheLocation)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrancheName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrancheLocation)
            </td>
  
        </tr>
}
    </tbody>
</table>
